.basket-item {
    display: flex;
    gap: 15px;
    min-height: 157px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    background-color: var(--col-white);
    border-radius: 20px;
}

.basket-item__cb {
    height: 100px;
    display: flex;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}

.basket-item__cb-inp {
    cursor: pointer;
}

.basket-item__img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-item__img-data {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
}

.basket-item__text {}

.basket-item__text-heading {
    font-size: 16px;
}

.basket-item__text-heading-link {
    color: var(--col-dark);
    text-decoration: none;
}

.basket-item__text-heading-link:focus,
.basket-item__text-heading-link:hover {
    text-decoration: underline;
}

.basket-item__text-summ {
    font-size: 20px;
    font-weight: bold;
    color: var(--col-dark);
}

.basket-item__text-price {
    font-size: 14px;
    font-weight: bold;
    color: var(--col-grey);
}

.basket-item__btns {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.basket-item__btn-remove {
    margin-left: auto;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--col-bg-blue);
    background-image: url(/src/assets/ui/remove.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    cursor: pointer;
    transition: all .2s;
}

.basket-item__btn-remove:hover,
.basket-item__btn-remove:focus {
    opacity: 0.7;
}

.basket-item__btn-remove:active {
    background-color: var(--col-main);
}

@media screen and (max-width: 600px) {
    .basket-item {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .basket-item__btns {
        grid-column: 1 /span 3;
        grid-row: 2;
        flex-direction: row;
    }


}