.cards {
    max-width: var(--max-width);
    margin: auto;
    
}
.cards_two-column{
    grid-template-columns: repeat(2, minmax(200px, 335px)); 
}

.cards__grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 335px));
  /*   grid-auto-rows: 260px; */
    gap: 20px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1200px){
    .cards__grid{
        grid-template-columns: repeat(2, minmax(250px, 500px));
        grid-template-rows: 440px;
    }
}
@media screen and (max-width: 600px) {
    .cards__grid{
        grid-template-columns: minmax(250px, 500px);  
      
    }
}