.watched {
    max-width: var(--max-width);
    margin: 100px auto 100px;
}

.watched__heading {
    display: flex;
}

.watched__heading-data {
    font-size: 45px;
}


.watched__heading-btn {
    margin-top: auto;
    background-image: url(../src/assets/arrow-right-f9a66cc2702b3fb5a3c6.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 50px;
    width: 50px;

}

.watched__heading-btn_left {
    margin-left: auto;
    transform: rotate(180deg);
}

.watched__grid-wrapper {
    max-width: var(--max-width);
    overflow: hidden;
}

.watched__grid {
    list-style: none;
    padding: 0;
    display: flex;
    transition: all .5s;
    gap: 20px;
    width: auto;

}

.watched__grid .card {
    min-width: 300px !important;
}

@media screen and (max-width: 1200px) {
    .watched__grid .card {
       width: 360px !important;
    }
}

@media screen and (max-width: 600px) {
    .watched__heading-data {
        font-size: 20px;
        
    }

    .watched__grid .card {
        max-width: 600px !important;
        width: calc(100vw - 60px )!important;
        min-width: auto !important;
        flex-shrink: 0;
    }

}
.card-overview {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
}

.card-overwiev__comercial-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-overview__comercial {
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: var(--col-white);
}

.card-overview__comercial-img {
    max-width: 20px;
    max-height: 20px;

}

.card-overview__comercial-text {
    font-size: 16px;
    margin: 10px 0 34px;
}

.card-overview__comercial-link {
    color: var(--col-main);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.card-overview__comercial-link:focus,
.card-overview__comercial-link:hover {
    text-decoration: underline;
}

.card-overview__comercial-link:active {
    opacity: 0.7;
}

.card-overview__img {
    position: relative;
    background-color: var(--col-white);
    border-radius: 30px;
    display: flex;
    height: 400px;

}

.card-overview__img-comercial {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-overview__img-data {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.card-overview__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-overview__desc p,
h1 {
    margin: 0;
}

.card-overview__desc-art {}

.card-overview__desc-name {
    font-size: 30px;
    color: var(--col-dark);
}

.card-overview__desc-short {
    font-size: 14px;
    color: var(--col-grey);
}

.card-overview__desc-weight {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
}

.card-overview__desc-weight-heading {
    grid-column: 1 / sapn 3;
    font-size: 14px;
    color: var(--col-dark);

}

.card-overview__desc-weight-btn {
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 40px;
}

.card-overview__desc-weight-btn-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card-overview__desc-weight-btn-input:checked+.card-overview__desc-weight-btn-box {
    background-color: var(--col-main);
    color: var(--col-white);
}

.card-overview__desc-weight-btn-box {
    transition: all .2s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--col-main);
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: var(--col-main);
}

.card-overview__desc-weight-btn-box-text {
    font-size: 16px;
    font-weight: bold;


}

.card-overview__desc-price {
    font-size: 30px;
    color: var(--col-dark);
    font-weight: bold;
}


.card-overview__desc-btns {
    display: flex;
    gap: 10px;
}


.card-overview__desc-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 50%;
    
}

.card-overview__desc-btn_basket {
    font-size: 16px;
}

.card-overview__desc-btn_basket-img {
    width: 20px;
    height: 20px;
    background-image: url(../src/assets/basket-white-b4be419ea15087853734.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
}

.card-overview__desc-btn_buy {
    background-color: var(--col-white);
}

@media screen and (max-width: 1200px) {
    .card-overview{
        grid-template-columns: 1fr 1fr;
    }
    .card-overwiev__comercial-box{
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100%;
        flex-direction: row;

    }
    
        
    }
    @media screen and (max-width: 600px) {
        .card-overview{
            grid-template-columns: 1fr ;
        }
        .card-overview__img{
            height: 260px;
            grid-column: 1;
            grid-row: 1;
        }
        .card-overwiev__comercial-box{
            grid-column: 1;
            grid-row: 3;
            flex-direction: column;
    
        }  
    }
.card-description {
    max-width: var(--max-width);
    margin: auto;
    margin-top: 80px;
    padding: 20px;
}

.card-description__heading {
    color: var(--col-main);
    font-weight: bold;
    font-size: 30px;
}

.card-description__stats {
    display: flex;
    gap: 5px;
}

.card-description__stats-data {
    background-color: var(--col-bg-blue);
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 100px;
    color: var(--col-dark);
}

.card-description__text {
    color: var(--col-dark);
}
.card {
    background-color: var(--col-white);
    border-radius: 20px;
    height: 440px;
    width: auto;
    /*  width: 335px; */
    position: relative;
    display: flex;
    flex-direction: column;

}

.card__img {
    width: 100%;
    height: 40%;
    display: flex;
}

.card__img-data {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.card__comercial {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: default;
}

.card__comercial-data {


    border-radius: 100px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0;

}

.card__comercial-data_hit {
    background-color: #4FB153;
    color: var(--col-white);
}

.card__comercial-data_price {
    background-color: #FFED4E;
    color: var(--col-dark);
}

.card__desc {
    padding: 25px;
    box-sizing: border-box;
}

.card__desc-link {
    text-decoration: none;
    color: var(--col-dark);
    cursor: pointer;
}

.card__desc-link:hover,
.card__desc-link::after {
    text-decoration: underline;
}

.card__desc-link-name {
    font-size: 20px;
    margin: 0;
    color: var(--col-dark);
}

.card__desc-about {
    color: var(--col-grey);
    font-size: 12px;
    margin: 10px 0 0 0
}

.card__buy {
    display: flex;
    margin-top: auto;
    box-sizing: border-box;
    padding: 25px;
}

.card__buy-price {}

.card__buy-price-data {
    margin: 0;
    font-weight: bold;
}



.card__buy-price-data_old {
    color: var(--col-grey);
    position: relative;
    font-weight: normal;
    font-size: 12px;
}

.card__buy-price-data_old::after {
    position: absolute;
    content: '';
    top: 30%;
    left: -15%;
    width: 80%;
    height: 1px;
    background-color: var(--col-grey);
    transform-origin: center;
    transform: rotate(-10deg);
    opacity: 0.7;

}

.card__buy-price-data_new {
    font-size: 20px;
}

.card__buy-btns {
    margin-left: auto;
    display: flex;
}
.card__buy-btn{
    display: flex;
}
.card__buy-btn_hide{
    display: none !important;
}


.card__buy-btn-img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-image: url(../src/assets/basket-white-b4be419ea15087853734.svg);
    background-position: center;
    background-size: 18px;
    background-repeat: no-repeat;

}

.card__buy-btn-text {
    margin: 0;
}
.card__buy-btn-counter {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--col-grey);
    background-color: var(--col-white);
}
.card__buy-btn-counter-minus,.card__buy-btn-counter-plus {
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid var(--col-grey);
    transition: all .2s;
    width: 40px;
}
.card__buy-btn-counter-minus:focus, .card__buy-btn-counter-minus:hover,.card__buy-btn-counter-plus:focus ,.card__buy-btn-counter-plus:hover{
    background-color: var(--col-bg-blue);
}
.card__buy-btn-counter-minus:active,.card__buy-btn-counter-plus:active {
    background-color: var(--col-main);
}

.card__buy-btn-counter-minus {
}
.card__buy-btn-counter-plus {
}
.card__buy-btn-counter-data {
    margin: 0 12px;
}


@media screen and (max-width: 600px) {}
.main{
    margin: 20px;
}
