.sort {
    max-width: var(--max-width);
    margin: 26px auto 80px;
    display: flex;
    gap: 30px;
}

.sort__heading {
    margin: 0;
}

.sort__el {
    position: relative;
    cursor: pointer;

}

.sort__el:hover .sort__el-text,
.sort__el:focus .sort__el-text {
    opacity: 0.7;
}

.sort__el:active .sort__el-text {
    opacity: 1;
}

.sort__el-input {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
}

.sort__el-text {
    color: var(--col-grey);
    opacity: 0.5;
    font-weight: bold;
    margin: 0;
}

.sort__el-input:checked+.sort__el-text {
    color: var(--col-main);
    opacity: 1;
}
.category-about {
    max-width: var(--max-width);
    margin: auto;
    border-radius: var(--section-radius);
    background-color: var(--col-bg-blue);
    box-sizing: border-box;
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.category-about__heading {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    width: 300px;

}
.category-about__text {
    font-size: 16px;
    margin: 0;
}
@media screen and (max-width: 1200px) {
    .category-about{
        grid-template-columns: auto;
    }
}
.watched {
    max-width: var(--max-width);
    margin: 100px auto 100px;
}

.watched__heading {
    display: flex;
}

.watched__heading-data {
    font-size: 45px;
}


.watched__heading-btn {
    margin-top: auto;
    background-image: url(../src/assets/arrow-right-f9a66cc2702b3fb5a3c6.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 50px;
    width: 50px;

}

.watched__heading-btn_left {
    margin-left: auto;
    transform: rotate(180deg);
}

.watched__grid-wrapper {
    max-width: var(--max-width);
    overflow: hidden;
}

.watched__grid {
    list-style: none;
    padding: 0;
    display: flex;
    transition: all .5s;
    gap: 20px;
    width: auto;

}

.watched__grid .card {
    min-width: 300px !important;
}

@media screen and (max-width: 1200px) {
    .watched__grid .card {
       width: 360px !important;
    }
}

@media screen and (max-width: 600px) {
    .watched__heading-data {
        font-size: 20px;
        
    }

    .watched__grid .card {
        max-width: 600px !important;
        width: calc(100vw - 60px )!important;
        min-width: auto !important;
        flex-shrink: 0;
    }

}
.cards {
    max-width: var(--max-width);
    margin: auto;
    
}
.cards_two-column{
    grid-template-columns: repeat(2, minmax(200px, 335px)); 
}

.cards__grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 335px));
  /*   grid-auto-rows: 260px; */
    gap: 20px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1200px){
    .cards__grid{
        grid-template-columns: repeat(2, minmax(250px, 500px));
        grid-template-rows: 440px;
    }
}
@media screen and (max-width: 600px) {
    .cards__grid{
        grid-template-columns: minmax(250px, 500px);  
      
    }
}
.card {
    background-color: var(--col-white);
    border-radius: 20px;
    height: 440px;
    width: auto;
    /*  width: 335px; */
    position: relative;
    display: flex;
    flex-direction: column;

}

.card__img {
    width: 100%;
    height: 40%;
    display: flex;
}

.card__img-data {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.card__comercial {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: default;
}

.card__comercial-data {


    border-radius: 100px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0;

}

.card__comercial-data_hit {
    background-color: #4FB153;
    color: var(--col-white);
}

.card__comercial-data_price {
    background-color: #FFED4E;
    color: var(--col-dark);
}

.card__desc {
    padding: 25px;
    box-sizing: border-box;
}

.card__desc-link {
    text-decoration: none;
    color: var(--col-dark);
    cursor: pointer;
}

.card__desc-link:hover,
.card__desc-link::after {
    text-decoration: underline;
}

.card__desc-link-name {
    font-size: 20px;
    margin: 0;
    color: var(--col-dark);
}

.card__desc-about {
    color: var(--col-grey);
    font-size: 12px;
    margin: 10px 0 0 0
}

.card__buy {
    display: flex;
    margin-top: auto;
    box-sizing: border-box;
    padding: 25px;
}

.card__buy-price {}

.card__buy-price-data {
    margin: 0;
    font-weight: bold;
}



.card__buy-price-data_old {
    color: var(--col-grey);
    position: relative;
    font-weight: normal;
    font-size: 12px;
}

.card__buy-price-data_old::after {
    position: absolute;
    content: '';
    top: 30%;
    left: -15%;
    width: 80%;
    height: 1px;
    background-color: var(--col-grey);
    transform-origin: center;
    transform: rotate(-10deg);
    opacity: 0.7;

}

.card__buy-price-data_new {
    font-size: 20px;
}

.card__buy-btns {
    margin-left: auto;
    display: flex;
}
.card__buy-btn{
    display: flex;
}
.card__buy-btn_hide{
    display: none !important;
}


.card__buy-btn-img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-image: url(../src/assets/basket-white-b4be419ea15087853734.svg);
    background-position: center;
    background-size: 18px;
    background-repeat: no-repeat;

}

.card__buy-btn-text {
    margin: 0;
}
.card__buy-btn-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--col-grey);
    background-color: var(--col-white);
}
.card__buy-btn-counter-minus,.card__buy-btn-counter-plus {
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid var(--col-grey);
    transition: all .2s;
    width: 40px;
}
.card__buy-btn-counter-minus:focus, .card__buy-btn-counter-minus:hover,.card__buy-btn-counter-plus:focus ,.card__buy-btn-counter-plus:hover{
    background-color: var(--col-bg-blue);
}
.card__buy-btn-counter-minus:active,.card__buy-btn-counter-plus:active {
    background-color: var(--col-main);
}

.card__buy-btn-counter-minus {
}
.card__buy-btn-counter-plus {
}
.card__buy-btn-counter-data {
    margin: 0 12px;
}


@media screen and (max-width: 600px) {}
.main{
    margin: 20px;
}
